---
layout: page
title: Releases
type: page
---

{% assign releases = site.data.releases | reverse %}

<!-- <h3>Latest</h3> -->

<div class="release-list latest">
{% for r in releases %}
  {% unless r.latest %}
    {% continue %}
  {% endunless %}
  {% include release.html dl=false release=r %}
{% endfor %}
</div>

<hr class="separate"/>

<!-- <h3>Others</h3> -->

<div class="release-list">
{% for r in releases %}
  {% if r.latest %}
    {% continue %}
  {% endif %}
  {% unless r.doc and r.src and r.win %}
    {% continue %}
  {% endunless %}
  {% include release.html dl=false release=r %}
{% endfor %}
</div>
