<footer class="site-footer">

    <div class="wrapper">

    <div class="footer-cols">

    <div class="footer-col">
        <p><a href="{{ site.link_email }}"><i class="fa fa-envelope"></i>E-Mail</a></p>
        <p><a href="{{ site.link_forum }}"><i class="fa fa-comments"></i>Forum</a></p>
    </div>

    <div class="footer-col">
        <p><a href="https://join.slack.com/t/open-cv/shared_invite/MjE1NTkxMDkzMzUwLTE1MDA0NTYxODMtYTc0NjE1NjI5OQ"><i class="fa fa-slack"></i>Slack</a></p>
        <p><a href="http://webchat.freenode.net/"><i class="fa fa-comments"></i>IRC #opencv</a></p>
    </div>

    <div class="footer-col">
        <p><a href="{{ site.link_gh }}"><i class="fa fa-github"></i>GitHub</a></p>
        <p><a href="{{ site.link_sf }}/"><i class="fa fa-download"></i>SourceForge</a></p>
    </div>

    <div class="footer-col">
        <p><a href="{{ site.link_fb }}"><i class="fa fa-facebook-official"></i>Facebook</a></p>
        <p><a href="{{ site.link_twitter }}"><i class="fa fa-twitter"></i>Twitter</a></p>
    </div>

    <div class="footer-col">
        <p><a href="{{ site.link_gplus }}"><i class="fa fa-google-plus"></i>Google+</a></p>
        <p><a href="{{ site.link_youtube }}"><i class="fa fa-youtube"></i>YouTube</a></p>
    </div>

    <div class="footer-col">
        <p><a href="https://en.wikipedia.org/wiki/OpenCV"><i class="fa fa-wikipedia-w"></i>Wikipedia</a></p>
    </div>

    </div>

    <div class="footer-copyright">
    <p>&copy; Copyright {{ site.time | date: "%Y" }}, OpenCV team</p>
    </div>

    </div>

  <!--
  <p>generated: {{ site.time | date: "%Y-%m-%d %H:%M" }}</p>
  <p>pages: {{ site.pages.size }}</p>
  <p>posts: {{ site.posts.size }}</p>
  -->

</footer>

<script>
    function externalLinks() {
    for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
      var b = c[a];
      b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
    }
  }
  ;
  externalLinks();
</script>
