---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-nav">
    {% if page.previous.url %}
      <a class="post-prev" href="{{ site.baseurl }}{{ page.previous.url }}" rel="prev">&laquo; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="post-next" href="{{ site.baseurl }}{{ page.next.url }}" rel="next">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </div>

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-shares">
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Share on Twitter</a>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Share on Facebook</a>
  </div>

</article>
